{% extends 'base.html' %}
{% block head %}
<meta name="viewport"  content="width=device-width, initial-scale=1.0">
<title>ABOUT US</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
{% endblock head %}
{% block body %}
<dic class="container">
    
<section class="contact">
        <div class="content">
            <h2><b><u>About Us</u></b></h2>
        </div>
        <div class="container">
            <div class="ContactInfo">
                <div class="box">
                    <div class="icon">
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>44 Vijaypark Road, <br>Ahmedabad, 380001</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>sbnews2211@gmail.com</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>+91 1111111111</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
{% endblock body %}