{% extends 'base.html' %}

{% block body %}
<div align="center">
<h1><b><u>Contact Us</u><b></h1>
</div>
<div class="container" method="POST"> 
<form>
  
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
  </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email"name="email" placeholder="Enter your email">
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your number">
    </div>
    
    <div class="form-group">
      <label for="comments">Comments</label>
      <textarea class="form-control" id="comments" name="comment" rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">submit</button>
    
  
  </form>
</div>
{% endblock body %}