{% extends 'base.html' %}

{% block body %}
<div class="row my-2 px-3">
    <div class="card-group">
        {% for value in entertainmentdata.data %}
        <div class="col-md-4">
            <div class="card" style="margin:2rem,height=50rem">
                 <img class="card-img-top" src="{{ value.imageUrl }}" style="height:18rem" />
                 <div class="card-body">
                    <h5 class="card-title">{{ value.title }}</h5>
                    <p class="card-text">{{ value.content }}</p>
                     <p class="card-text">{{ value.date }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock body %}




